/* Estilos para o cabeçalho */
h4.tela {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}

/* Estilos para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

/* Estilos para os botões */
button.btn {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}
button.btn:disabled {
  padding: 5px 10px;
  background-color: #999;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}

/* Estilos para os campos de entrada */
.input-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.input-container label {
  font-weight: bold;
}

.input-container input[type="text"] {
  padding: 3px;
  width: 100%;
}

.input-row td:first-child {
  position: relative;
}

.input-row td:first-child input[type="text"] {
  position: absolute;
  top: 0;
  left: 0;
}

.input-error-msg {
  font-weight: 400 !important;
  font-size: small;
  color: red;
}

/* Style the custom dropdown */
.custom-dropdown {
  position: relative;
}

.custom-dropdown ul {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.custom-dropdown li {
  padding: 5px;
  cursor: pointer;
}

.custom-dropdown li:hover {
  background-color: #f0f0f0;
}


.custom-dropdown .selected {
  background-color: #007bff;
  color: #fff;
}