{% extends 'layout/index.html' %}
{% block header %}
  {% include 'layout/header.html' with app_link='sobre' %}
{% endblock %}
{% block content %}
  <article class="main__article">
    <h3>RPR Bordados Computadorizados</h3>
    <address>
      Rua Conde de Leopoldina, 276<br>
      São Cristóvão - Rio de Janeiro - RJ<br>
      CEP 20930-460<br>
      <a href="tel:+552122014070">(21) 2201-4070</a>
    </address>
  </article>
  <article class="main__article">
    <h3>Ponto2 . Bordado industrial</h3>
    <p>Requisitos: Paulo Jorge<br>
      Análise e desenvolvimento: <a href="mailto:anselmo@oxigenai.com.br">Anselmo</a></p>
  </article>
{% endblock %}
