{% extends 'layout/index.html' %}
{% block header %}
  {% include 'layout/header.html' with app_link='sobre' %}
{% endblock %}
{% block content %}
  <h3>Ponto2 . Bordado industrial</h3>
  <p>Requisitos: Paulo Jorge</p>
  <p>Análise e desenvolvimento: <a href="mailto:anselmo@oxigenai.com.br">Anselmo</a></p>
  <h4>© 2023 RPR & Oxigenai</h4>
  <hr>
  <h3>RPR Bordados Computadorizados</h3>
  <p>Rua Conde de Leopoldina, 276<br>
  São Cristóvão - Rio de Janeiro - RJ<br>
  CEP 20930-460<br>
  (21) 2201-4070</p>
{% endblock %}
