{% extends 'layout/index.html' %}
{% block header %}
  {% include 'layout/header.html' with head_link='sobre' %}
{% endblock %}
{% block content %}
  <h3>Ponto2 . Bordado industrial</h3>
  <p>Aplicativo on-line desenvolvido por <a href="mailto:anselmo@oxigenai.com.br">Anselmo</a> a partir de requisitos iniciais de Paulo Jorge.</p>
  <h4>© 2023 RPR & Oxigenai</h4>
  <hr>
  <h3>RPR Bordados Computadorizados</h3>
  <p>Rua Conde de Leopoldina, 276</p>
  <p>São Cristóvão - Rio de Janeiro - RJ</p>
  <p>20930-460</p>
  <p>(21) 2201-4070</p>
{% endblock %}
