<header class="header">
  <h1 class="header__h1">
    RPR - Ponto2
  </h1>

  <section class="header__section">
    <ul class="header__section__ul">
      {% if request.user.is_authenticated %}
        <li>
          {% if app_link == 'bordado' %}
            <span class="destaque">
          {% else %}
            <a href="{% url 'bordado:index' %}">
          {% endif %}
          Bordado
          {% if app_link == 'bordado' %}
            </span>
          {% else %}
            </a>
          {% endif %}
        </li>
      {% endif %}
      {% if app_link == 'sobre' %}
        <span class="destaque">
      {% else %}
        <a href="{% url 'bordado:sobre' %}">
      {% endif %}
      Sobre
      {% if app_link == 'sobre' %}
        </span>
      {% else %}
        </a>
      {% endif %}
    </ul>
  </section>

  <section class="header__section">
    {% if request.user.is_authenticated %}
      {{ request.user.username }}
      <a href="{% url 'encerrar' %}">
        <button type="button" class="header__section__button">Encerrar</button>
      </a>
    {% else %}
      <a href="{% url 'login' %}?next={% url 'bordado:index' %}">
        <button type="button" class="header__section__button">Identificar-se</button>
      </a>
    {% endif %}
  </section>
</header>
